@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary-red: #860914;
  --color-primary-orange: #daa258;
  --color-secondary-pink: #decdd5;
  --color-secondary-green: #afb18c;
  --color-black: #3A3435;
}